@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Welcome CS4PE";
}

<h2>WELCOME MY COURSE : CS4PE</h2>

<p>Hello from our View Template!</p>
<ul>
    @for (int i = 0; i < ViewBag.numTimes; i++)
    {
        <li>@ViewBag.Message</li>
    }
</ul>